<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="colorletra" value="blue"/>
  </appSettings>
  <connectionStrings>
    <add name ="tajamar" connectionString="Data Source=LOCALHOST\SQLTAJAMAR;Initial Catalog=HOSPITAL;User ID=SA"
         providerName="System.Data.SqlClient" />
    <add name ="casa" connectionString="Data Source=DESKTOP-64C2FJI;Initial Catalog=HOSPITAL;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>